{{ form_start(importForm, {
    attr: {'novalidate': true}
}) }}
<div class="row">
    <div class="col-3">
        {{ form_row(importForm.fileName, {
            label: 'Dateiname'
        }) }}
    </div>
</div>
<br>
<button type="submit" class="btn btn-primary">Import</button>
{{ form_end(importForm) }}
