{% extends 'base.html.twig' %}

{% block title %}Add New Movie{% endblock %}

{% block content_left %}
    <div class="fullcolumn">
        <div class="card">
            <h2>Neuen Film hinzufügen</h2>
            <div class="fakeimg">
                {{ include('movie/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
